@import "color";

/* ====== EXPERIENCE SHORTCODE STYLES  ====== */

.niko-sc{
  $p: &;

  &__experience-list{
    margin-bottom: -30px;
  }

  &__experience-item{
    margin-bottom: 30px;
  }

  &__experience-period{
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    color: $primary;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__experience-start{
    &::after{
      content: '-';
      padding-left: 4px;
    }
  }

  &__experience-name{
    font-weight: 900;
    line-height: 1.5;
    color: $white;
    margin-bottom: 0;
  }

  &__experience-region{
    color: $grey;
    opacity: 0.5;
    font-size: 13px;
    line-height: 1.85;
    margin-bottom: 5px;
  }

  &__experience-description{
    line-height: 1.6;
  }

  &__exp-educ-list{
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;

    #{$p}__experience-title-icon,
    #{$p}__experience-title{
      font-size: 26px;
    }
  }

  &__exp,
  &__educ{
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
  }
}
